<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title> {{BLOG TITLE}} </title>

		<link rel="stylesheet" href="../templates/blog-style2.css">
	</head>
	<body>
		<header>
			<h1 ><a id="logo-link" href="../homes/blog-home.html">POLY BLOG</a></h1>
		</header>
		
		<main>
			<h2> {{BLOG TITLE}} </h2>
			<article>
				<p>  {{introduction}} </p>
				<h3> {{subheading 1}} </h3>
			</article>
		</main>
	</body>
</html>
